<h2>
  <%= @user.first_name %> <%= @user.last_name %> has added you to a house!
</h2>

<p>
To join this house follow these steps:
<ol>
  <li>Sign In or Create An Account</li>
  <li>Enter Your House Code</li>
  <li>Submit</li>
</ol>
</p>

<p>
Your House Code is:
</p>
<p>
Thanks For Using Our Service,<br />
<i>The Roomies</i>
</p>
